body{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    background:radial-gradient(#fbfbfb , #dfdfdf);


}
div{
    margin:auto
}
h1{
align-self: center;
margin-bottom:3rem;
padding:.5rem;
border-bottom: 1px black solid;
word-spacing:.2rem ;
}